matplotlib==3.7.2
numpy>=1.26.0,<2.0.0
pandas>=2.0.0
streamlit>=1.22.0
Pillow
python-pptx
opencv-python-headless
setuptools
pandas==2.2.3
python-dotenv==1.0.1
Requests==2.32.3
streamlit
streamlit-drawable-canvas
googlesearch-python
pydantic
openai
scikit-learn
scipy